$color-1: #2a1d52;
$color-2: #6C77F4;
$color-3: rgb(99, 164, 233);
$color-4: #4FEDD2;
$color-5: #36D0EA;
$white: #ddd;
$black: #333;
$main: #39a43d;

$background: linear-gradient(to right, #39a43d, #94d48c, );
$background-maybar-p: linear-gradient(to right, #febd01, #d87011, #951a14, );
$background-body : linear-gradient(to bottom, #17181b, #113e5e);
$background-body-2 : linear-gradient(to right, #0b183d, #074673);
$background-reservation : linear-gradient(to right, #febd01 0%, #d87011 20%, #af13b1 40%, #0f0 60%, #f00 80%, #febd01 100%);
$background-reservation-v1 : linear-gradient(to right, #f00 0%, #f00 25%, #00f 25%, #00f 50%, #0f0 50%, #0f0 75%, #f00 75%, #f00 100%);
$background-logo-instagram : radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $background;
}